.welcome {
    height: 40vh;
}

.welcome h1 {
    text-align: center;
}

.courses h2 {
    padding-top: var(--spacing-large);
}

.courses h2, .courses .main-paragraph {
    text-align: center;
}

.courses h2, .courses .main-paragraph, .courses .courses-container {
    margin-bottom: var(--spacing-large);
}

.courses .courses-container {
    display: flex;
    flex-wrap: wrap;
}

.courses .course-wrapper {
    width: calc(100% / 3);
    padding-right:var(--spacing-small);
    padding-left: var(--spacing-small);
}

.courses .main-paragraph {
    padding-right: var(--spacing-small);
    padding-left: var(--spacing-small);
}

.courses .course {
    width: 100%;
    border: 1px solid #ddd;
    padding: var(--spacing-tiny);
    border-radius: 5px;
    margin-bottom: var(--spacing-medium);
}

.courses .presentation-class {
    width: 100%;
    height: auto;
    margin-bottom: var(--spacing-large);
}

.courses p .image-logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
}

.courses .material-symbols-outlined {
    vertical-align: middle;
}

.courses .course-wrapper p, .courses .course-wrapper span {
    color: #666;
    font-size: var(--fs-medium);
}

.courses .course-wrapper h3 {
    color: var(--text-primary);
    margin-bottom: var(--spacing-medium);
    padding-left: var(--spacing-small);
}

.courses .course-wrapper p, .courses .course-wrapper .details {
    margin-bottom: var(--spacing-medium);
    padding-left: var(--spacing-small);
}

.courses .course-wrapper a {
    margin-left: var(--spacing-small);
    color: var(--text-white);
    background-color: var(--button-color);
    width: 100px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: var(--fs-medium);
    padding: var(--spacing-tiny);
    border: 1px solid var(--button-color);
}

.courses .course-wrapper a:hover {
    background-color: transparent;
    color: var(--button-color);
}






@media (max-width: 992px) {
    .courses .course-wrapper {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .courses .course-wrapper {
        width: 100%;
    }
}